.profile {
  max-width: 410px;
  margin: 74px auto 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 123px;
}

.profile__fieldset {
  border: none;
  margin-bottom: 220px;
}

.profile__field {
  display: flex;
  justify-content: space-between;
  width: 410px;
}

.profile__label {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #FFFFFF;
}

.profile__input {
  font-family: inherit; 
  background-color: #202020;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  color: #FFFFFF;
  border: none;
}

.profile__line {
  margin: 16px 0 17px;
}

.profile__save {
  border: none;
  background-color: transparent;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  display: block;
  cursor: pointer;
  text-align: center;
  margin-bottom: 16px;
}

.profile__save:hover {
  opacity: 0.5;
}

.profile__save:active {
  opacity: 0.7;
}

.profile__logout {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #EE3465;
  text-decoration: none;
}

.profile__logout:hover {
  opacity: 0.5;
}

.profile__logout:active {
  opacity: 0.7;
}

@media (max-width: 770px) {
  .profile {
  margin: 236px auto 0;
  }
}

@media (max-width: 480px) {
  .profile {
      margin: 70px auto 0;
  }

  .profile__title {
    margin-bottom: 80px;
  }

  .profile__fieldset {
    margin-bottom: 379px;
  }

  .profile__field {
    width: 260px;
  }
}