.portfolio {
  padding: 101px 70px 125px
}

.portfolio__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #8B8B8B;
  margin-bottom: 50px;
}

.portfolio__list {
  padding: 0;
}

.portfolio__item {
  width: 100%;
  border-bottom: 1px solid #DADADA;
  list-style: none;
}

.portfolio__item:last-of-type {
  border: none;
}

.portfolio__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  padding: 20px 0 20px;
}
 
.portfolio__link:hover {
  opacity: 0.5;
}

.portfolio__link:active {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .portfolio {
    padding: 91px 50px 90px
  }
}

@media (max-width: 600px) {
  .portfolio {
    padding: 70px 14px 70px
  }
  
  .portfolio__title {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;

  }
  
  .portfolio__link {
  
    font-size: 18px;
    line-height: 28px;
    padding: 20px 0 20px;
  }
}