.movies-card-list {
  margin: 70px 0 0;
  text-align: center;
}

.movies-card-list__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  gap: 28px;
}

.movies-card-list__load-more {
  margin: 50px 0 80px;
  width: 320px;
  height: 36px;
  border-radius: 6px;
  border: 1px solid #DADADA;
  background-color: #202020;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}

.movies-card-list__load-more:hover {
  opacity: 0.5;
}

.movies-card-list__load-more:active {
  opacity: 0.3;
}

@media (max-width: 350px) {
  .movies-card-list__load-more {
    margin: 80px 0 160px;
    width: 240px;
    height: 36px;
  }
}