.about-me {
    padding: 0 70px 0;
}

.about-me__full{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 270px;
    margin-top: 56px;
}

.about-me__photo {
    border-radius: 10px;
    width: 270px;
    height: 327px;
}

.about-me__text {
    color: #FFFFFF;
}

.about-me__name {  
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    margin: 0 0 18px;
}

.about-me__info {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 26px;
}

.about-me__bio {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 99px;
}

.about-me__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;

}

.about-me__link:hover {
    opacity: 0.5;
  }
  
  .about-me__link:active {
    opacity: 0.3;
  }

@media (max-width: 896px) {
    .about-me__full{
        gap: 46px;
    }
    
    .about-me__photo {
        width: 255px;
        height: 307px;
    }
    
    .about-me__name {  
        font-size: 40px;
        line-height: 40px;
        margin: 0 0 16px;
    }
    
    .about-me__info {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 20px;
    }
    
    .about-me__bio {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 87px;
        
    }
}

@media (max-width: 600px) {
    .about-me__full{
        flex-direction: column;
        gap: 40px;
        margin-top: 60px;
    }
    
    .about-me__photo {
        border-radius: 10px;
        width: 100%;
        max-width: 292px;
        height: auto;
    }
    
    .about-me__name {  
        
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        margin: 0 0 20px;
    }
    
    .about-me__info {
        
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 20px;
    }
    
    .about-me__bio {
        font-weight: 400;
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 40px;
        
    }
    
    .about-me__link{
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        text-decoration: none;
        
    
    }
}

@media (max-width: 350px) {
    .about-me {
        padding: 0 14px 0;
    }
}    