.movies-card {
  list-style-type: none;
}

.movies-card__description {
  width: 360px;
  height: 319px;
  background-color: #272727;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.movies-card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 36px);
  margin: 18px 18px 18px;
}

.movies-card__title {
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}

.movies-card__duration {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: right;
  color: #8B8B8B;
}

.movies-card__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.movies-card__button {
  width: 100px;
  height: 29px;
  border-radius: 30px;
  border: none;
  margin: 18px 0 18px;
  font-weight: 400;
  font-size: 12px;
  line-height: 11px;
  color: #FFFFFF;
}

.movies-card__button:hover{
  opacity: 0.5;
}

.movies-card__button:active{
  opacity: 0.3;
}

.movies-card__button_type_unsave {
  background-image: url('../../../images/icon__saved.svg');
  background-color: #EE3465;
  background-repeat: no-repeat;
  background-position: center;
}

.movies-card__button_type_save {
  background-color:#313131;
}

.movies-card__button_type_delete {
  background-image: url('../../../images/icon__delete.svg');
  background-color: #313131;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 770px) {
  .movies-card__description {
    width: 342px;
    height: 306px;
  }

  .movies-card__image {
    height: 190px;
  }}


  @media (max-width: 375px) {
    .movies-card__description {
      width: 300px;
      height: 271px;
    }
    
    .movies-card__info {
      width: calc(100% - 28px);
      margin: 14px 14px 14px;
    }
    
    .movies-card__title {
      font-size: 12px;
      line-height: 18px;
    }
    
    .movies-card__duration {
      font-size: 10px;
      line-height: 18px;
    }
    
    .movies-card__image {
      height: 168px;
    }

    .movies-card__button {
      margin: 14px 0 14px;
      font-weight: 400;
      font-size: 12px;
      line-height: 11px;
      color: #FFFFFF;
    }
  
  }