.auth__form {
  max-width: 396px;
  margin: 0 auto 0;
  padding-bottom: 70px;
}

.auth__logo {
  margin: 70px auto 0;
}

.auth__header {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin: 40px 0 40px;
}

.auth__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 65px;
  padding: 0;
}

.auth__label {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8B8B8B;
  margin: 0 0 24px;
}

.auth__input {
  background-color: #202020;
  font-family: inherit; 
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  border: none;
  border-bottom: 1px solid #DADADA;
  padding: 10px auto 10px;
}

.auth__input:focus {
  outline: none;
  border-bottom: 1px solid #4285F4;
}

.auth__input-error-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
  margin-top: 6px;
}

.input-error {
  color: #EE3465;
}

.auth__submit {
padding: 60px auto 70px;
}

.auth__submit-button {
  width: 100%; 
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  padding: 13px 0 15px;
  margin-bottom: 16px;
  border: none;
  background-color: #4285F4;
  border-radius: 3px;
  cursor: pointer;
}

.auth__submit-button:hover {
  opacity: 0.5;
}

.auth__submit-button:active {
  opacity: 0.3;
}

.auth__subtitle {
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #8B8B8B;
  text-align: center;
}

.auth__link {
  margin-left: 6px; 
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4285F4;
  text-decoration: none;
}

.auth__link:hover {
  opacity: 0.5;
}

.auth__link:active {
  opacity: 0.3;
}

@media (max-width: 770px) {
  .auth__header {
    margin: 35px 0 35px;
  }

  .auth__label {
    margin: 0 0 15px;
  }

  .auth__input {
    padding: 10px 0 10px;
  }

  .auth__fieldset {
    margin-bottom: 120px;
  }

  .auth__login {
    margin-bottom: 200px;
  }
}

@media (max-width: 460px) {
  .auth__form {
    max-width: 260px;
    margin: 0 auto 0;
    padding-bottom: 30px;
    padding-top: 56px;
  }
  
  .auth__logo {
    display: block;
    margin: 0 auto 0;
    text-align: center;
  }
  
  .auth__header {
    display: block;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 50px 0 80px;
  }

  .auth__fieldset{
    margin-bottom: 50px;
  }

  .auth__submit {
    padding-top: 157px;
  }

  .auth__submit-button {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
  }

  .auth__subtitle {    
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }
  
  .auth__link {
    margin-left: 6px; 
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }

  .auth__input {
    padding: 8px 0 8px;
  }

  .auth__label {
    margin: 0 0 17px;
  }

  .auth__login {
    margin-bottom: 130px;
  }
}